<div class='header-wrapper'>
    <div class='header-nav'>
        <a href='https://www.befunky.com/' class='site-nav_logo'>
            <img src='https://www.befunky.com/images/site/logo-darker.svg' alt='befunky'></img>
        </a>
        <div class='site-nav_listItems'>
            <div class='site-nav_item' href='https://www.befunky.com/'>Create</div>
            <div class='site-nav_item' href='https://www.befunky.com/'>Learn</div>
            <div class='site-nav_item' href='https://www.befunky.com/'>Support</div>
        </div>
        <div class='site-nav_account'>
            <div class='site-nav_item' href='https://www.befunky.com/'>Sign In</div>
            <div class='start_btn'>
                <span>Get Started</span>
            </div>
        </div>
    </div>
</div>